<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="js/external/vue.global.js"></script>
    <script src="js/external/vuex.global.js"></script>
    <script src="js/external/vuex-persistedstate.js"></script>
    <script src="js/external/axios.js"></script>
    <title>Property Management</title>
</head>
<body>
<main>
    <navmenu></navmenu>
    <h1>Management</h1>

    <fieldset>
        <legend>Job Details</legend>

        <h2>Requests Waiting: {{requestNumber}}</h2>

        <form @submit.prevent="createJob()">
            <label>Name:</label><input type="text" v-model="management.name" required/>
            <label>Description:</label><input type="text" v-model="management.address"  required/>
            <label>Status: </label><input type="text" v-model="management.status" required/>
            <label>Date: </label><input type="datetime-local" v-model="management.date" required/>
            <button type="submit">Create Job</button>

        </form>
    </fieldset>
    <a class="nav" href="index.html">Back to Home</a>
</main>
<script type="module" src="js/management.js"></script>
</body>
</html>
